
@{
    ViewBag.Title = "ShowRoom";
    Layout = "~/Views/Shared/layoutchung.cshtml";
}

<h3>Hệ thống Showroom của cửa hàng</h3>
<hr class="soft" />
<br />

<p style="font:17px;">Nhằm tạo điều kiện thuận lợi cho khách hàng đến tham quan và mua sắm, hệ thống showroom của Nước Hoa T&N luôn được đặt tại những con đường thời trang của trung tâm thành phố lớn . Thiết kế sang trọng, sắc màu tươi sáng, các showroom của Nước Hoa T&N là sự tổng hợp của vẻ đẹp tinh tế và hoàn mỹ, tạo ấn tượng tốt đẹp và chuyên nghiệp cho khách hàng từ cái nhìn đầu tiên.</p>
<hr class="soft" />
<p>Hệ thống 4 showroom của Nước Hoa T&N:</p>
<img src="~/hinhsp/HinhCuaHang.jpg" width="500px"/>
<p>Showroom 1: 475A Điện Biên Phủ, Quận Bình Thạnh, Tp.HCM</p>
<img src="~/hinhsp/s11-01.jpg" width="500px" />
<p>Showroom 2: 227 Võ Văn Ngân, Thủ Đức, Tp.HCM</p>
<img src="~/hinhsp/HinhCuaHang.jpg" width="500px" />
<p>Showroom 3: 475A Điện Biên Phủ, Quận Bình Thạnh, Tp.HCM</p>
<img src="~/hinhsp/s11-01.jpg" width="500px" />
<p>Showroom 4: 227 Võ Văn Ngân, Thủ Đức, Tp.HCM</p>
<img src="~/hinhsp/HinhCuaHang.jpg" width="500px" />
 

